body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

#name {
    font-family: Roboto, 'Times New Roman', Times, serif;
    font-size: 3em;
}

#name-subtitle {
    font-family: Roboto, 'Times New Roman', Times, serif;
}

.center-content {
    align-items: center;
    justify-content: center;
    display: flex;
}

.icon {
    height: 50px;
    width: 50px;
}

.icon-box {
    display: inline;
    height: 50px;
    width: 50px;
}

.left-nav {
    height: 100%;
    width: 40vw;
    position: fixed;
    overflow-x: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F5F3F3;
    transition: 0.5s;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.page {
    margin-left: 40vw;
    width: 60vw;
    height: 2000px;
    right: 0;
}
